---
layout: default
tags: home
---

<div class="home">
  <h1 class="page-heading">お知らせ</h1>
  {% include links.html %}
  <ul class="post-list">
    {% for post in site.posts %}
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </h1>
        <p><span class="post-meta">{{ post.date | date: "%Y.%m.%d" }}</span></p>
        {{ post.excerpt }}
        <p class="detail_link">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            続きを読む
          </a>
        </p>
    {% endfor %}
  </ul>
</div>
