---
layout: default
title: おしらせ
---

<div class="home">
  <h1 class="page-heading"><span>お知らせ</span></h1>
  {% include links.html %}
  <ul class="posts">
    {% for post in site.posts %}
        <h1
          ><a class="post-link" href="{{ post.url | prepend: site.baseurl }}"
            >{{ post.title }}
          </a>
        </h1>
        <p><span class="post-meta">{{ post.date | date: "%Y.%m.%d" }}</span></p>
        {{ post.excerpt }}
        <p class="detail-link">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            続きを読む
          </a>
        </p>
    {% endfor %}
  </ul>
</div>
