<div class="banner">
  <a href="http://codeforfukui.connpass.com/event/30182/" target="_blank">
    <img src="{{ "/img/banner.png" | prepend: site.baseurl }}"
         alt="connpassで参加登録">
  </a>
  <ul class="outside-banners">
    <li>
      <a href="http://meganefes.com/" class="banner-fes" target="_blank">
        <img src="{{ "/img/160316_banner.png" | prepend: site.baseurl }}"
             alt="めがねフェス">
      </a>
    </li>
    <li>
      <a href="https://www.megane.gr.jp/megane-messe/" class="banner-messe" target="_blank">
        <img src="{{ "/img/w545_h250.jpg" | prepend: site.baseurl }}"
             alt="サバエメガネメッセ">
      </a>
    </li>
  </ul>
</div>
