<footer class="site-footer">
  <p>
    <small>
      主催 : <a href="http://fukui.opendata.cc">Code for Fukui</a>
      /
      協力 : <a href="http://www.city.sabae.fukui.jp/">鯖江市</a> / <a href="http://jig.jp/">jig.jp co., ltd.</a>
      <br>
      Web site :
      <a href="https://creativecommons.org/licenses/by/4.0/deed.ja">CC BY</a>
      <a href="http://jig.jp/">jig.jp co., ltd.</a>
    </small>
  </p>
  {% include banner.html %}
  {% include links.html %}
  <p class="rss-subscribe">subscribe
    <a href="http://codeforfukui.github.io/meganehack/feed.xml">via RSS</a>
  </p>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76353887-1', 'auto');
  ga('send', 'pageview');

</script>
