<footer class="site-footer">
  <p>
    <small>
      主催 : <a href="http://fukui.opendata.cc">Code for Fukui</a>
      /
      協力 : <a href="http://jig.jp/">jig.jp co., ltd.</a>
      <br>
      Web site :
      <a href="https://creativecommons.org/licenses/by/4.0/deed.ja">CC BY</a>
      <a href="http://jig.jp/">jig.jp co., ltd.</a>
    </small>
  </p>
  {% include banner.html %}
  {% include links.html %}
  <p class="rss-subscribe">subscribe
    <a href="http://codeforfukui.github.io/meganehack/feed.xml">via RSS</a>
  </p>
</footer>
