<header class="site-header">
  <nav class="sp-main-navigation">
    <div class="menu-icon">
      <img src="{{ "/img/menu_sp.png" | prepend: site.baseurl }}" alt="メニュー"
           onclick="document.getElementsByClassName('sp-main-navigation-list')[0].classList.toggle('visible');">
    </div>
    <ul class="sp-main-navigation-list">
      <li><a href="{{ "/about/" | prepend: site.baseurl }}">開催概要</a></li>
      <li><a href="{{ "/posts.html" | prepend: site.baseurl }}">おしらせ</a></li>
      <li><a href="http://codeforfukui.connpass.com/event/30182/" target="_blank">参加登録</a></li>
    </ul>
  </nav>
  <a class="site-title" href="{{ site.baseurl }}/">
    <img src="{{ "/img/logo.png" | prepend: site.baseurl }}"
         alt="{{ site.title }}"
         class="{{ page.tags }}">
  </a>
  <nav class="main-navigation">
    <ul>
      <li>
        <a href={{ "/about/" | prepend: site.baseurl }}>
          <img src={{ "/img/menu_about_active.png" | prepend: site.baseurl }}
               alt="開催概要">
        </a>
      </li>
      <li>
        <a href={{ "/posts.html" | prepend: site.baseurl }}>
          <img src={{ "/img/menu_posts_active.png" | prepend: site.baseurl }}
               alt="おしらせ">
        </a>
      </li>
      <li>
        <a href="http://codeforfukui.connpass.com/event/30182/" target="_blank">
          <img src={{ "/img/menu_attend_active.png" | prepend: site.baseurl }}
               alt="参加登録">
        </a>
      </li>
    </ul>
  </nav>
</header>
