.page-content {
  .wrapper {
    max-width: $max_width;
    margin: 0 auto;
  }

  p {
    margin-bottom: 20px;
  }
}

.page-heading {
  font-size: 30px;
  text-align: center;
  padding: 40px 0 30px;
  span {
    display: inline-block;
    border-bottom: 2px solid $theme_dark_green;
    &:before {
      content: '';
      display: block;
      margin: 10px auto 20px;
      height: 28px;
      width: 86px;
      background-image: url('../img/glasses_accent.png');
    }
  }
}

.post-list {
  font-family: $makinas;
  border: 2px solid $theme_dark_green;
  padding: 5px;
  a {
    text-decoration: none;
    font-size: 20px;
    display: block;
    height: 100%;
    width: 100%;
    padding: 5px 5px 11px;
    border-bottom: 1px solid $theme_dark_green;
    &:hover {
      background-color: rgba(0,0,0,0.1);
    }
    &:before {
      content: '';
      display: inline-block;
      height: 26px;
      width: 26px;
      position: relative;
      top: 6px;
      background-image: url('../img/arrow_block.png');
    }
    .post-meta {
      display: inline-block;
      width: 80px;
      font-size: 16px;
    }
  }
}

.detail-link {
  text-align: right;
  a {
    font-family: $makinas;
  }
  &:before {
    content: '';
    display: inline-block;
    height: 26px;
    width: 26px;
    position: relative;
    top: 6px;
    background-image: url('../img/arrow_block.png');
  }
}

.banner {
  max-width: $max_width;
  margin: 60px auto 0;
}

.links {
  margin: 10px auto 40px;
  text-align: center;
  ul {
    font-size: 0;
  }
  li:nth-child(1) {
    @include links(#55acee);
  }
  li:nth-child(2) {
    @include links(#3b5998);
    margin: 0 6.5px;
  }
  li:nth-child(3) {
    @include links(#00a4de);
  }
}
